body {
    background-color: theme('colors.gray.900');
}

p {
    margin-bottom: 1.5rem;
}

h2 {
    font-weight: 700;
    margin: 1rem 0;
    font-size: 1.5rem;
}

ul {
    list-style: circle;
    padding: 0 1.25rem;
}

article {
    font-size: large;
}

article a {
    border-color: #63b3ed;
    color: #ebf8ff;
    border-bottom-width: 1px;
    font-weight: 700;
}

#floating-header {
    opacity: 0;
    transition-duration: 100ms;
}

#floating-header.active {
    opacity: 100;
}

.blog-entries {
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.entry-card {
    list-style: none;
}

@media (max-width: 1200px) {
    .blog-entries {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 768px) {
    #floating-header {
        display: none;
    }
    .blog-entries {
        grid-template-columns: repeat(1, 1fr);
    }
}

a.anchor {
    fill: white;
    margin-right: 5px;
    border: none;
}

a.anchor svg {
    display: inline;
}