p {
    margin-bottom: 1.5rem;
}

h2 {
    font-weight: 700;
    margin: 1rem 0;
    font-size: 1.5rem;
}

ul {
    list-style: circle;
    padding: 0 1.25rem;
}

article a {
    border-color: #63b3ed;
    color: #ebf8ff;
    border-bottom-width: 1px;
    font-weight: 700;
}