---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="flex flex-col items-center">
		<h2 style="font-size: xx-large;">¡404!</h2>
		<p>Lo que buscás no está <a href="/" class="text-blue-500 underline">volver al inicio</a></p>
	</div>
</Layout>
