---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Pagination from "src/components/Pagination/Pagination";

import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";
import "dayjs/locale/es";

dayjs.locale("es");
dayjs.extend(localizedFormat);

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = await Astro.glob("./blog/**/*.{md,mdx}");
const postsFinal = posts
	.filter((p) => p.frontmatter.draft !== true)
	.sort(
		(a, b) =>
			new Date(b.frontmatter.date).valueOf() -
			new Date(a.frontmatter.date).valueOf()
	)
	.slice(0, 6);
---

<Layout>
	<ul role="list" class="grid gap-6 grid-cols-1 xl:grid-cols-2 p-0">
		{
			postsFinal.map((p) => {
				return (
					<Card
						href={`/blog/${
							p.frontmatter.slug ||
							p.frontmatter.title
								.toLowerCase()
								.split(" ")
								.join("-")
						}`}
						tags={p.frontmatter.tags}
						title={p.frontmatter.title}
						subtitle={
							p.frontmatter.category &&
							p.frontmatter.category
						}
						date={
							p.frontmatter.date &&
							dayjs(p.frontmatter.date).format("LL")
						}
					/>
				);
			})
		}
	</ul>
	<div class="flex h-12 font-medium justify-center mb-10">
		<Pagination client:visible currentPage={1} totalPages={posts.length % 6} />
	</div>
</Layout>
