---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
	<h1>Política de Privacidad</h1>

	<h2>Introducción</h2>

	<p>
		Esta política de privacidad describe cómo se recopila, usa y comparte la
		información de los usuarios en la aplicación <b>"Estado trenes"</b>.
	</p>
	<h2>Información recopilada</h2>
	<p>
		Esta aplicación no recopila ni solicita ninguna información personal de
		los usuarios, como su nombre, dirección de correo electrónico o número
		de teléfono.
	</p>

	<h2>Uso de la información</h2>

	<p>
		La información recopilada por la aplicación se usa únicamente para
		mejorar la experiencia del usuario y proporcionar los servicios que se
		ofrecen.
	</p>
	<h2>Compartir la información</h2>
	<p>
		La información recopilada por la aplicación no se comparte con ninguna
		otra persona o empresa.
	</p>
	<h2>Seguridad de la información</h2>
	<p>
		La aplicación toma medidas para proteger la información de los usuarios
		contra el acceso no autorizado, la divulgación o el uso indebido.
	</p>
	<h2>Cambios en la política de privacidad</h2>
	<p>
		Esta política de privacidad puede cambiar de vez en cuando. Te
		notificaremos de cualquier cambio importante en la política de
		privacidad.
	</p>
</Layout>
